<div
  class="card bg-base-100 gap-3 w-4xl mx-auto flex flex-col items-center rounded-xl shadow-xl p-10"
>
  <svg
    xmlns="http://www.w3.org/2000/svg"
    fill="none"
    viewBox="0 0 24 24"
    stroke-width="1.5"
    stroke="currentColor"
    class="size-32 text-error"
  >
    <path
      stroke-linecap="round"
      stroke-linejoin="round"
      d="M12 9v3.75m9-.75a9 9 0 1 1-18 0 9 9 0 0 1 18 0Zm-9 3.75h.008v.008H12v-.008Z"
    />
  </svg>

  <h1 class="card-title text-4xl justify-center">Server error</h1>
  <div class="flex flex-row gap-3">
    <button class="btn btn-primary" (click)="goBack()">Go back</button>
    <button class="btn btn-info" (click)="detailsToggle()">Details</button>
  </div>
  @if(showDetails){
  <ul class="list bg-base-100 rounded-box shadow-md">
    @for (message of errors; track $index) {

    <li class="list-row">
      <div class="text-4xl font-thin opacity-30 tabular-nums">{{ $index }}</div>
      <div class="list-col-grow">
        <div>Error</div>
        <div class="text-xs uppercase font-semibold opacity-60">
          {{ message }}
        </div>
      </div>
    </li>

    } @if(error.protocol){

    <li class="list-row">
      <div class="text-4xl font-thin opacity-70 tabular-nums">
        <svg
          xmlns="http://www.w3.org/2000/svg"
          viewBox="0 0 24 24"
          fill="currentColor"
          class="size-6"
        >
          <path d="M12 15a3 3 0 1 0 0-6 3 3 0 0 0 0 6Z" />
          <path
            fill-rule="evenodd"
            d="M1.323 11.447C2.811 6.976 7.028 3.75 12.001 3.75c4.97 0 9.185 3.223 10.675 7.69.12.362.12.752 0 1.113-1.487 4.471-5.705 7.697-10.677 7.697-4.97 0-9.186-3.223-10.675-7.69a1.762 1.762 0 0 1 0-1.113ZM17.25 12a5.25 5.25 0 1 1-10.5 0 5.25 5.25 0 0 1 10.5 0Z"
            clip-rule="evenodd"
          />
        </svg>
      </div>

      <div class="list-col-grow">
        <div>Protocol</div>
        <div class="text-xs uppercase font-semibold opacity-60">
          {{ error.protocol }}
        </div>
      </div>
    </li>
    }
  </ul>
  }
</div>
