<div
  class="card bg-base-100 w-1/2 mx-auto flex flex-col p-4 rounded-lg shadow-lg"
>
  <div class="card-title justify-center text-3xl text-primary">Sign up</div>

  <div class="card-body w-full">
    <form
      [formGroup]="registerForm"
      (ngSubmit)="register()"
      autocomplete="off"
      class="flex flex-col gap-2 w-full"
    >
      <!-- Name -->
      <app-text-input label="Name" formControlName="name" />

      <!-- Email -->
      <app-text-input label="Email" formControlName="email" />

      <!-- Gender -->
      <!-- <div>
        <select
          name="gender"
          [(ngModel)]="model.gender"
          #gender="ngModel"
          required
          class="select select-bordered w-full"
          [class.select-error]="gender.invalid && gender.touched"
        >
          <option value="" disabled>Select gender</option>
          <option value="male">Male</option>
          <option value="female">Female</option>
          <option value="other">Other</option>
        </select>
        @if(registerForm.submitted && gender.invalid){
        <div class="text-error text-sm mt-1">Gender is required.</div>
        }
      </div> -->

      <!-- KnowAs -->
      <!-- <div>
        <textarea
          type="text"
          name="knowAs"
          minlength="3"
          maxlength="100"
          required
          [(ngModel)]="model.knowAs"
          #knowAs="ngModel"
          placeholder="Know As"
          class="textarea textarea-bordered w-full"
          [class.input-error]="knowAs.invalid && knowAs.touched"
        ></textarea>
        @if(registerForm.submitted && knowAs.invalid){
        <div class="text-error text-sm mt-1">
          @if(knowAs.errors?.['required']){
          <div>Know As is required.</div>
          } @else if(knowAs.errors?.['minlength']){
          <div>Know As must be at least 3 characters.</div>
          } @else if(knowAs.errors?.['maxlength']){
          <div>Know As must be at most 100 characters.</div>
          }
        </div>
        }
      </div> -->

      <!-- City -->
      <app-text-input label="City" formControlName="city" />

      <!-- Country -->
      <app-text-input label="Country" formControlName="country" />

      <!-- Interests -->
      <!-- <div>
        <textarea
          type="text"
          name="interests"
          maxlength="1000"
          [(ngModel)]="model.interests"
          #interests="ngModel"
          placeholder="Interests"
          class="textarea textarea-bordered w-full h-auto"
          [class.input-error]="interests.invalid && interests.touched"
        ></textarea>
        @if(registerForm.submitted && interests.invalid &&
        interests.errors?.['maxlength']){
        <div class="text-error text-sm mt-1">
          Interests must be at most 1000 characters.
        </div>
        }
      </div> -->

      <!-- Introduction -->
      <!-- <div>
        <textarea
          type="text"
          name="introduction"
          minlength="3"
          maxlength="1000"
          [(ngModel)]="model.introduction"
          #introduction="ngModel"
          placeholder="Introduction"
          class="textarea textarea-bordered w-full"
          [class.input-error]="introduction.invalid && introduction.touched"
        ></textarea>
        @if(registerForm.submitted && introduction.invalid &&
        introduction.errors?.['maxlength']){
        <div class="text-error text-sm mt-1">
          Introduction must be at most 1000 characters.
        </div>
        }
      </div> -->

      <!-- Password -->
      <app-text-input
        label="Password"
        formControlName="password"
        type="password"
      />

      <!-- Confirm Password -->
      <app-text-input
        label="Confirm Password"
        formControlName="passwordConfirmed"
        type="password"
      />

      <!-- Buttons -->
      <div class="flex justify-end gap-3 mt-4">
        <button type="button" (click)="cancel()" class="btn">Cancel</button>
        <button
          type="submit"
          class="btn btn-primary"
          [disabled]="!registerForm.valid"
        >
          Register
        </button>
      </div>
    </form>
  </div>

  <div class="flex flex-col items-start px-3 w-full mockup-code text-lg">
    <div>Form value: {{ registerForm.value | json }}</div>
    <div>Form status: {{ registerForm.status | json }}</div>
  </div>
</div>
